* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
   -webkit-tap-highlight-color: transparent;
}

h1,
p,
a,
h1,
h2,
h3,
h4 {
   color: #fff;
}

body {
   font-family: 'Outfit', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background: #000;
}

ul {
   list-style-type: none;
}
a {
   text-decoration: none;
}

.btn {
   padding: 12px 32px;
   font-size: 1.2rem;
   text-transform: uppercase;
   background: transparent;
   color: #fff;
   border: 1px solid #fff;
   cursor: pointer;
   :hover {
      background: rgba(255, 255, 255, 0.2);
   }
}

.btn-light {
   background: rgba(255, 255, 255, 0.2);
}
